$Blue: #63a2c2;
$DarkBlue: #1b262c;
$DarkGrey: #c9c5c4;
$LightGrey: #f5f1f0;
.intro {
  position: fixed;
  width: 22%;
  height: 100%;
  background-color: $DarkBlue;
}
@media (max-width: 1200px) and (min-width: 993px) {
  .intro {
    overflow: hidden;
    width: 30%;
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  .intro {
    width: 100%;
   // padding: 0 65px;
    height: 70px;
    z-index: 999;
  }
}
@media (max-width: 768px) and (min-width: 701px) {
  .intro {
    width: 100%;
    padding: 0 65px;
    height: 70px;
    z-index: 999;
    
  }
}
@media (max-width: 700px) {
  .intro {
    width: 100%;
    padding: 0 65px;
    height: 70px;
    z-index: 999;
  }
}