$Blue: #63a2c2;
$DarkBlue: #1b262c;
$DarkGrey: #c9c5c4;
$LightGrey: #f5f1f0;

.ul_skills_lists {
    color: $LightGrey; 
    margin-top: 0;
    h2 {
      color: $Blue;
      margin: 0 0 0 -20px;
    }
    .skill {
      overflow: hidden;
      margin: 1px;
      cursor: pointer;
      width: 210px;
      .span_skill_header{ 
        .icon{
          color: $Blue;
        }
        h3 {
          display: inline-block;
          margin: 3px 10px;
        }
      }
      ul{
        transition: .5s ease-in-out;
        list-style: none;  
        height: 0;
        overflow: hidden;
      }
    }
    .skill_active {
      &:first-of-type{
        ul{
          transition: .5s ease-in-out;
          display: block;
          height: 30px;
          li{
          
          }
        }
      }
      .span_skill_header{ 
        display: inline !important;
        .icon{    
          transform: rotate(90deg);
        }
        
        h3 {
          
          display: inline-block;
        }
      }
      ul{
          display: block;
          height: 85px;
          width: 250px !important;
      }
    }
  
}
@media (max-width: 1200px) and (min-width: 993px) {
      .ul_skills_lists {
        color: $LightGrey;
        list-style: none;
        h2 {
          color: $Blue;
          margin-left: -15px;
        }
        .skill {
          transform: translateX(-15px);
      
          h5 {
            margin-left: 15px;
            transition: all 0.2s ease-in-out;
          }
        }
        
        .rate {
          list-style: none;
          padding: 0;
          .empty {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid $Blue;
          }
          .fill {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid $Blue;
            background-color: $Blue;
            box-shadow: -1px -1px 2px 0px $DarkBlue inset;
          }
        }
      }
}
@media (max-width: 992px) and (min-width: 769px) {    
    
  .ul_skills_lists {
    color: $LightGrey;
    list-style: none;
    h2 {
      color: $Blue;
      margin-left: -15px;
      font-size: 25px;
    }
    .skill {
      transform: translateX(-15px);
      width: 255px;
      h5 {
        margin-left: 15px;
        transition: all 0.2s ease-in-out;
      }
    }

  }
}
@media (max-width: 768px) and (min-width: 701px) { 
    
  .ul_skills_lists {
    color: $LightGrey;
    list-style: none;
    h2 {
      color: $Blue;
      margin-left: -15px;
      font-size: 25px;
    }
    .skill {
      transform: translateX(-15px);
      width: 255px;
      h5 {
        margin-left: 15px;
        transition: all 0.2s ease-in-out;
      }
    }
  }
    }
@media (max-width: 700px) {

      .ul_skills_lists {
        color: $LightGrey;
        list-style: none;
        h2 {
          color: $Blue;
          margin-left: -15px;
          font-size: 25px;
        }
        .skill {
          transform: translateX(-15px);
          width: 185px;
          h3 {
            margin-left: 15px;
            font-size: 16px;
            transition: all 0.2s ease-in-out;
          }
        }
      }
   
  }
