$Blue: #63a2c2;
$DarkBlue: #1b262c;
$DarkGrey: #c9c5c4;
$LightGrey: #f5f1f0;
.portfolio {
    width: 78%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    padding: 0 63px;
    justify-content: space-between;
    background-color: $LightGrey;
    h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      font-size: 30px;
      color: $DarkBlue;
      border-bottom: 3px solid $DarkBlue;
    }
    .projects{ 
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .project{  
        cursor: pointer;
        height: 300px;
        width: calc(99%/3);
        margin-bottom: 30px;
        border: 1px solid $Blue;
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
        background-color: $Blue;
        box-shadow: 6px 7px 16px -9px black;
        a{
          color: $LightGrey;
          text-decoration: none;
        }  
        &:hover {
            img {
              opacity: 0.6;
              @extend .scale1-1 !optional;
            }
          }
          .project_header {
            overflow: hidden;
            height: 78%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
              transition: all 1s ease-in-out;
            }
          }
          color: $LightGrey;
          text-decoration: none;
          .project_name {
            transition: 0.5s ease-in-out;
            text-align: center;
            background-color: $DarkBlue;
            height: 22%;
            border-top: 1px solid $Blue;
            h3 {
              transition: none;
              //height: 100%;
            }
          }
        
      }
    }
  }
.scale1-1 {
  transform: scale(1.1);
}
  @media (max-width: 1200px) and (min-width: 993px) {
    .portfolio {
      width: 70%;
      float: right;
      padding: 0 20px;
      background-color: $LightGrey;
  
      h2 {
        margin-left: 10px;
        width: 170px;
        font-weight: bold;
        color: $DarkBlue;
        border-bottom: 3px solid $DarkBlue;
      }
      .projects {
        .project{
          height: 320px;
          width: 48%;
          margin: 1%;
          border: 1px solid $Blue;
          border-radius: 10px;
          overflow: hidden;
          display: inline-block;
          background-color: $Blue;
          box-shadow: 6px 7px 16px -9px black;
  
          a {
            &:hover {
              img {
                opacity: 0.6;
                transform: scale(1.1);
              }
            }
            .project-header {
              overflow: hidden;
              height: 80%;
              width: 100%;
              img {
                height: 100%;
                width: 100%;
                transition: all 1s ease-in-out;
              }
            }
            color: $LightGrey;
            text-decoration: none;
            .project-name {
              transition: 0.5s ease-in-out;
              text-align: center;
              background-color: $DarkBlue;
              color: #000;
              height: 20%;
              border-top: 1px solid $Blue;
              h3 {
                transition: none;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 992px) and (min-width: 769px) {
    .portfolio {
      width: 100%;
      float: right;
      padding: 19px 63px;
      background-color: $LightGrey;
      h2 {
        margin-left: 10px;
        width: 170px;
        font-weight: bold;
        color: $DarkBlue;
        border-bottom: 3px solid $DarkBlue;
      }
      .projects { 
        .project{
          transition: 0.5s ease-in-out;
          height: 300px;
          width: 47%;
          margin: 1%;
        }
        .click_control{
          height: 400px;
          width: 60%;
          margin: 0 0 10px 40%;
          
        }
      }
    }
  }
  @media (max-width: 768px) and (min-width: 701px) {
    .portfolio {
      width: 100%;
      float: right;
      padding: 19px 63px;
      background-color: $LightGrey;
      h2 {
        margin-left: 10px;
        width: 170px;
        font-weight: bold;
        color: $DarkBlue;
        border-bottom: 3px solid $DarkBlue;
      }
      .projects {
        
        .project{
          transition: 0.5s ease-in-out;
          height: 300px;
          width: 47%;
          margin: 1%;
          border: 1px solid $Blue;
          border-radius: 10px;
          overflow: hidden;
          display: inline-block;
          background-color: $Blue;
          box-shadow: 6px 7px 16px -9px black;
          a {
            &:hover {
              img {
                opacity: 0.6;
                transform: scale(1.1);
              }
            }
            .project-header {
              overflow: hidden;
              height: 80%;
              width: 100%;
              img {
                height: 100%;
                width: 100%;
                transition: all 1s ease-in-out;
              }
            }
            color: $LightGrey;
            text-decoration: none;
            .project-name {
              transition: 0.5s ease-in-out;
              text-align: center;
              background-color: $DarkBlue;
              height: 20%;
              border-top: 1px solid $Blue;
              h3 {
                transition: none;
              }
            }
          }
        }
        .click_control{
          height: 330px;
          width: 57%;
          margin: 7px 0 0 47.5%;
        }
      }
    }
  }
  @media (max-width: 700px) {
    .portfolio {
      width: 100%;
      float: right;
      padding: 19px 63px;
      background-color: $LightGrey;
      h2 {
        margin: 55px 0 0px 9px;
      }
      .projects {
        
        .project{
          transition: 0.5s ease-in-out;
          height: 325px;
          width: 90%;
          margin: 5% 0 0px 4%;
          a {
            &:hover {
              img {
                opacity: 0.6;
                transform: scale(1.1);
              }
            }
            .project-header {
              overflow: hidden;
              height: 80%;
              width: 100%;
              img {
                height: 100%;
                width: 100%;
                transition: all 1s ease-in-out;
              }
            }
            color: $LightGrey;
            text-decoration: none;
            .project-name {
              transition: 0.5s ease-in-out;
              text-align: center;
              background-color: $DarkBlue;
              height: 20%;
              border-top: 1px solid $Blue;
              h3 {
                transition: none;
                font-size: 74%;
              }
            }
          }
        }
        .click_control{
          height: 330px;
          width: 57%;
          margin: 7px 0 0 43%;
        }
      }
    }
  }
  @media (max-width: 600px){
    .portfolio {
      width: 100%;
      float: right;
      padding: 19px 63px;
      background-color: $LightGrey;
      h2 {
        margin: 75px 0 0px 5px;
      }
      .projects { 
        .project{
          transition: 0.5s ease-in-out;
          height: 325px;
          width: 90%;
          margin: 5% 0 0px 4%;
          a {
            &:hover {
              img {
                opacity: 0.6;
                transform: scale(1.1);
              }
            }
            .project-header {
              overflow: hidden;
              height: 80%;
              width: 100%;
              img {
                height: 100%;
                width: 100%;
                transition: all 1s ease-in-out;
              }
            }
            color: $LightGrey;
            text-decoration: none;
            .project-name {
              transition: 0.5s ease-in-out;
              text-align: center;
              background-color: $DarkBlue;
              height: 20%;
              border-top: 1px solid $Blue;
              h3 {
                transition: none;
                font-size: 74%;
              }
            }
          }
        }
        .click_control{
          height: 330px;
          width: 400px;
          margin: 5px 0 0 35%;
        }
      }
    }
  }